# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5493b77240b3faa728bb0f39c9f4df875df4a0f2faefec5b9f6779dd34e5a2027201a243e776b742b3d5467c165989935bdb1cd65655c422736fc31f3fcb594b

test:
  secret_key_base: 219746d4042e4685ded5c7ce17d9c158c4833a4d5a339c3b93027361ba960763d8b96fbca701ca88614cc5cf8eeb0ca29996e605ec4230c37c28ba7a61571746

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
